body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at center, #1c1e45, #0e0f29);
  font-family: Arial, sans-serif;
  color: white;
}

body:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0) 70%
  );
  border-radius: 50%;
  z-index: -1;
}

body::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.08) 50%,
    rgba(255, 255, 255, 0) 70%
  );
  border-radius: 50%;
  z-index: -1;
}

header {
  width: 100%;
  max-width: 1400px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 5px 10px;
}
nav a {
  text-decoration: none;
  color: white;
  &:hover {
    transition: 0.5s;
    transform: scale(1.2);
    color: #1c1e45;
    border-radius: 20%;
    background-color: white;
  }
  /* Иконка двери */
  .door-icon {
    margin-left: 5px;
    font-size: 22px;
  }
}

 /* Стили для бургер-меню */
 .burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 30px;
  height: 24px;
}

.burger-line {
  background-color: white;
  height: 2px;
  width: 100%;
}

.burger-line:nth-child(1) {
  width: 100%;
}

.burger-line:nth-child(2) {
  width: 50%;
  align-self: flex-end;
}

.burger-line:nth-child(3) {
  width: 70%;
  align-self: flex-end;
}

main {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 80px;
  overflow: hidden;
}

.hexagon-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 колонок */
  grid-template-rows: repeat(5, 100px); /* 5 строк */
  /* gap: 20px; */
  width: 100%;
  max-width: 900px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  transition: all 0.5s;
}

/* Анимация для текста */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.hexagon {

  border-radius: 30px;
  width: 130px;
  height: 120px;
  background-color: white;
  color: #1c1e45;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transition: transform 0.5s ease, grid-column 0.5s ease, grid-row 0.5s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* transition: transform 0.5s ease; */
}

.hexagon:nth-child(1) {
  grid-column: 2;
  grid-row: 5;
}
.hexagon:nth-child(2) {
  grid-row: 4;
  grid-column: 3;
  width: 150px;
  height: 150px;
}
.hexagon:nth-child(3) {
  grid-column: 4;
  grid-row: 3;
}
.hexagon:nth-child(4) {
  grid-column: 5;
  grid-row: 2;
  width: 150px;
  height: 150px;
}
.hexagon:nth-child(5) {
  grid-column: 6;
  grid-row: 1;
}

.hexagon.active {
  width: 180px;
  height: 180px;
  transform: scale(1.2);
  animation: fadeIn 0.8s forwards;
}

.hexagon-text {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  animation: fadeOut 0.3s forwards, fadeIn 0.3s forwards 0.3s;
}
.hexagon-button {
  height: 35px;
  margin-top: 10px;
  padding: 5px 10px;
  border-color: #1c1e45;
  border-width: 1px;
  border-radius: 10px;
  color: #1c1e45;
  cursor: pointer;
  animation: fadeIn 0.5s ease-in-out;
}

.hexagon-button:hover {
  background-color: #f4f4f4;
  color: #1c1e45;
}

.date {
  font-size: 20px;
  font-weight: bold;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.opp-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

#opponent1,
#opponent2 {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 450px;
  height: 100px;
  background-color: white;
  color: #1c1e45;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  font-weight: bold;
  transition: transform 0.5s ease, left 0.5s ease, right 0.5s ease, width 0.5s ease, height 0.5s ease;
  transition: 0.7s;
}

#opponent1 {
  width: calc(50% + 40px);
  top: 45%;
  left: -15%;
  margin-right: 40px;
  transform: translate(0, -50%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

#opponent2 {
  width: calc(50% + 40px);
  top: 70%;
  right: -15%;
  transform: translate(0, -50%);
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
}

